@charset "utf-8";

/* * {
    border: 1px solid black;
} */

body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    
}


/*
#header, #footer {
    height: 150px;
    background: lavender;
    font-size: 30px;
    text-align: center;
    line-height: 300%;
}
*/




#noticeList {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 100%;
    padding: 50px 0px 50px 0px;
}

#noticeList > .noticeList_title {
    font-size: 40px;
    font-weight: bold;
    margin: 0px calc(50% - 90px) 70px calc(50% - 90px);
    padding-bottom: 15px;
    border-bottom: 10px solid aqua;
}

#noticeList > .noticeList_table table {
    position: relative;
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
    font-size: 15px;
    /* border-bottom: 1px solid black; */
}

#noticeList > .noticeList_table table .title-1 {width: 10%;}
#noticeList > .noticeList_table table .title-2 {width: 45%;}
#noticeList > .noticeList_table table .title-3 {width: 15%;}
#noticeList > .noticeList_table table .title-4 {width: 15%;}
#noticeList > .noticeList_table table .title-5 {width: 10%;}
#noticeList > .noticeList_table table .title-6 {width: 5%;}
#noticeList > .noticeList_table table .title-7 {width: 5%;}

#noticeList > .noticeList_table table .border_right {
    border-right: 2px solid aqua;
}

#noticeList > .noticeList_table table th {
    border-top: 5px solid aqua;
    border-bottom: 1px solid aqua;
    background-color: lightcyan;
    height: 60px;
    font-weight: bold;
}

#noticeList > .noticeList_table table td {
    border-bottom: 1px solid aqua;
    height: 50px;
}

#noticeList > .noticeList_table table a {
    text-decoration: none;
    color: black;
}

#noticeList > .noticeList_table table a:hover {
    text-decoration: underline;
}

#noticeList > .noticeList_table table .text-align-left {
	padding-left: 10px;
    text-align: left;
}

#noticeList > .noticeList_table table tbody tr:hover {
    background-color: LightCyan;
}


#noticeList > .noticeList_bottom {
    /* display: inline-block; */
    /* position: relative; */
    width: 100%;
    height: 50px;
    /* height: 100px; */
    text-align: justify;
    margin: 20px 0px 30px 0px;
    /* border: 1px solid black; */
}

#noticeList > .noticeList_bottom > .noticeList_bottom_button {
    outline: none;
    width: 100px;
    height: 50px;
    line-height: 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border : 0px;
    margin-right : 10px;
    cursor: pointer;
    background-color: lavender;
    transition: background-color 500ms, color 500ms;
}

#noticeList > .noticeList_bottom > .noticeList_bottom_button:hover {
    background-color: aqua;
}

#noticeList > .noticeList_bottom > .noticeList_bottom_button:active {
    background-color: deepskyblue;
}

#noticeList > .noticeList_bottom > .noticeList_search {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 400px;
    right: 0;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    /* border: 1px solid Lavender; */
}

#noticeList > .noticeList_bottom > .noticeList_search * {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    font-size: 15px;
    border: 1px solid lavender;
    padding: 0px 10px 0px 10px;
}

#noticeList > .noticeList_bottom > .noticeList_search .search_category {
    width: 90px;
    left: 0;
    border-radius: 10px;
}

#noticeList > .noticeList_bottom > .noticeList_search .search_text {
    width: 200px;
    height: 100%;
    right: 100px;
    
    border-radius: 10px 0px 0px 10px;
}

#noticeList > .noticeList_bottom > .noticeList_search .search_submit {
    /* position: absolute; */
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    background-color: lavender;
    transition: background-color 500ms, color 500ms;
    border: none;
}

#noticeList > .noticeList_bottom > .noticeList_search .search_submit:hover {
    background-color: aqua;
}

#noticeList > .noticeList_bottom > .noticeList_search .search_submit:active {
    background-color: deepskyblue;
}

#noticeList > .noticeList_paging {
    position: relative;
    display: inline-block;
    height: 100%;
    /* border: 1px solid red; */
}

#noticeList > .noticeList_paging > table {
    display: inline-block;
}

#noticeList > .noticeList_paging > table input {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background-color: lavender; */
    /* text-decoration: none; */
    color: black;
    /* margin: 0px 3px 0px 3px; */
    /* font-size: 18px; */
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 0px;
    cursor: pointer;
    outline: none;
    transition: background-color 1s, color 1s;
}

#noticeList > .noticeList_paging > table input[name="currentPage"] {
	background-color: lavender;
}

#noticeList > .noticeList_paging > table input:hover {
    background-color: aqua;
}

#noticeList > .noticeList_paging > table input:active {
    background-color: deepskyblue;
}