@charset "utf-8";

/* * {
    border: 1px solid black;
} */


body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

#header, #footer {
    height: 150px;
    background: lavender;
    font-size: 30px;
    text-align: center;
    line-height: 300%;
}


#noticeDetail {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 100%;
    padding: 50px 0px 50px 0px;
}

#noticeDetail > .noticeDetail_title {
    font-size: 40px;
    font-weight: bold;
    margin: 0px calc(50% - 90px) 70px calc(50% - 90px);
    padding-bottom: 15px;
    border-bottom: 10px solid aqua;
}

#noticeDetail > .noticeDetail_table > table {
    position: relative;
    width: 100%;
    border-spacing: 5px;
    table-layout: fixed;
    font-size: 16px;
    /* border: 3px solid lightcyan; */
    
}

#noticeDetail > .noticeDetail_table > table .bg_color {
    background-color: aqua;
    height: 50px;
    font-weight: bold;
}

#noticeDetail > .noticeDetail_table > table .indentation {
    padding-left: 10px;
    text-align: left;
    background-color: lightcyan;
}

#noticeDetail > .noticeDetail_content {
    /* height: 400px; */
    margin: 20px 5px 0px 5px;
    border-radius: 15px;
    background-color: lightcyan;
    text-align: left;
    padding: 25px;
    /* border: 1px solid blue; */
}

#noticeDetail > .noticeDetail_btns {
    width: 100%;
}


#noticeDetail > .noticeDetail_btns input {
    display: inline-block;
    outline: none;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border : 0px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
    background-color: lavender;
    transition: background-color 500ms, color 500ms;
}

#noticeDetail > .noticeDetail_btns input:hover {
    background-color: aqua;
}

#noticeDetail > .noticeDetail_btns input:active {
    background-color: deepskyblue;
}