@charset "UTF-8";

    /*-------------------------------------------- 메인 --------------------------------------------*/
    #article2>div h2{
        margin-top: 60px;
        color:black;
        font-size: 40px;
        font-weight: bold;
    }
    #article2>div{
        margin:30px;        
        height: 670px;
        text-align: center;
    }
    #article2>div>p{
        padding: px;
    }
    #article2 #p1{
        padding-top: 70px;
    }
    #article2 #p3,#p4,#p6,#p7{
        padding-top: 30px;
    }
    /*-------------------------------------------- 하단 푸터 --------------------------------------------*/
 