@charset "UTF-8";

    /*-------------------------------------------- 메인 --------------------------------------------*/
    #introduce>div h2{
        margin-top: 60px;
        color:black;
        font-size: 40px;
        font-weight: bold;
    }
    #introduce>div{
        margin:30px;        
        height: auto;
        text-align: center;
    }

    #introduce #p1{
        padding-top: 70px;
    }
    #introduce #p3,#p4,#p6,#p7{
        padding-top: 30px;
    }
    /*-------------------------------------------- 하단 푸터 --------------------------------------------*/
 