@charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

    
    html,body{ 
        margin:0; padding:0; 
        font-family: 'Noto Sans KR', sans-serif;
    }
    .container{
        width: 1900px; height: 100%; margin: 0 auto;
        box-sizing:border-box;       
    }
    
    header,nav,section,article,aside,footer{ 
        box-sizing: border-box;
    }
    header,footer,section,aside{
        width: 1900px; 
    }

    /*--------------------------------------------  상단 헤더 --------------------------------------------*/
    header{
        height: 10%; padding:1px;               
        height: 100px;
        display: flex;
        list-style-type: none;
        position: relative;        
    }   
    header a>h2{ 
        font-family: 'Dancing Script', cursive;
        color: rgb(219, 46, 46);
        font-size: 30px;
        font-weight: bold;        
        float:left;
        padding-top: 8px;
        padding-left: 100px;
        padding-right: 130px;
        box-sizing:border-box;        
    }
    header nav{ 
        width:70%; float:right; margin-left: 80px;
    }

    header nav>ul>li{ 
        display: inline-block;
        padding: 15px; 
        margin-right:30px;
        padding-right: 30px;
        margin-top: 6px;
        
    }
    header div{      
        position: absolute;
        left: 1500px;
        top: -2px;
        width: 110px;        
        line-height: 4px;
        margin: 30px;
        padding-top: 20px;           
    }
    header div>li a{
        text-decoration: none;    
        color:rgb(107, 101, 101);        
    }
    header nav>ul>li a{
        text-decoration:none;
        font-size: 1rem;
    }  
  
    /*-------------------------------------------- 중간 섹션 --------------------------------------------*/
    
    /*------------------ 첫번째 ------------------*/
   
    section>#article1{
        height: 640px;        
        border: 1px solid white;
        background-color: rgb(93, 170, 214);
        position: relative;
    }
    section>#article1>#article1_div1{
        list-style-type: none;
        color: white;        
        float:left;
        margin: 100px;
        padding:10px;
        padding-left: 380px;
    }
    section>#article1>#article1_div1>h2{
        font-size: 55px;
    }
    section>#article1>#article1_div1>li{
        font-size: 20px;
    }
    section>#article1>#article1_div1>#testpage{
        padding-top: 65px;
        padding-left: 110px;                
    }
    section>#article1>#article1_div1>#testpage>li{
        border: 1px solid black;
        border-style: none;
        border-radius: 30px;    
        background-color: rgb(71, 62, 62); 
        width: 170px;
        height: 60px;
        line-height: 58px;
    }
    section>#article1>#article1_div1>#testpage a{
        padding-left: 20px;        
        font-size: 22px;
        color: white;
        text-decoration:none;
    }
    section>#article1>#article1_div2{
        margin-top: 110px;        
        position: absolute;
        left: 1375px;        
    }   
    section>#article1>#article1_div3{
        position: absolute;
        left: 1000px;
        top: 100px;
        z-index: inherit;
    }


    /*------------------ 두번째 ------------------*/
    #article2>div h2{
        margin-top: 60px;
        font-family: 'Dancing Script', cursive;
        color: rgb(219, 46, 46);
        font-size: 50px;
        font-weight: bold;
    }
    #article2>div{
        margin:30px;        
        height: 670px;
        text-align: center;
    }  
    #article2 #p1{
        padding-top: 70px;
    }
    #article2 #p3,#p4,#p6,#p7{
        padding-top: 30px;
    }

    /*------------------ 세번째 ------------------*/
    #article3{                        
        display: flex;
        flex-direction:column;
    }
    #article3>#love{   
        background-color: rgb(216, 233, 238);
        display: flex;
        justify-content:space-evenly;
        width: 1900px;
        height: 500px;
    }
    #article3>#love p{
        font-size: 15px;
    }    
    #article3>#love>#love1>h2>p{
        padding-top: 40px;
        font-size: 40px;
    }
    #article3>#love>#love1{
        margin: -40px;      
        text-align: center;
        padding-top: 60px;               
        float:left;
    }
    #article3>#love>#love2{        
        padding-top: 120px;                      
        text-align: center;
    }
    #article3>#together{        
        display: flex;
        justify-content:space-evenly;
        width: 1900px;
        height: 500px;
        background-color: rgb(200, 218, 218);
    }
    #article3>#together p{        
        font-size: 15px;
    }    
    #article3>#together>#together1>h2>p{
        padding-top: 20px;
        font-size: 40px;
    }        
    #article3>#together>#together2{                
        padding-top: 150px;
        text-align: center;
    }
    /*--------------------------------------------  후기글  --------------------------------------------*/
   aside{         
      margin-top: -22px;
      background-color: rgb(243, 235, 235) ;
   }
   #aside{
      font-size: 40px;
      padding-top: 70px;
      padding-bottom: 30px;
      position: relative;
      text-align: center;
      font-weight: bold;
      list-style-type: none;
      margin-bottom: 50px;
   }   
   .slick-items {
      display: block;                
      margin-left: 80px;
      padding: 10px;
      width: 1740px;    
   }
   aside>.slick-items .slick-div {
      display: block;      
      border:7px solid rgb(233, 162, 150);      
      border-radius:20px;      
      margin-left: 60px;
      margin-right: 60px;   
      margin-bottom: 60px;
      padding:10px;             
   }
   aside>.slick-items .slick-div p {
      padding-right: 10px;
      padding-left: 10px;       
   }  
   aside>.slick-items p {
        line-height: 23px;
     max-height: 8.6em;
     text-align: justify;          
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 5;
     -webkit-box-orient: vertical;
   }

    /*-------------------------------------------- 하단 푸터 --------------------------------------------*/
   
    #footer{
        text-align: center;
        background-color: #f1f1f1;      
        line-height: 25px;            
        height : 440px;
      
    }
    .footer-container ul{
        list-style-type: none;
    }
    .footer-container .footer-sns{
        margin-right: 30px;
        display: flex; 
        justify-content: center;
    }
    .footer-container .footer-sns li{
        position: relative;
        margin-top: 10px;
        padding-left: 20px;
        right: 20px;
    }
    .footer-container .footer-link{        
        right: 40px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .footer-container .footer-link li{
        padding-left: 35px;
        justify-content: center;
    }
    .footer-container p{
        padding-left: 5px;
        position: relative;
        right:8px
    }
    .footer-wrap {
        font-size: 12px;

    }
    .footer-container .footer-logo{
        padding-top: 75px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
        color:rgb(219, 46, 46);
        
    }
    .footer-container .footer-info {
        padding-top: 8px;
        position: relative;
        right:28px;
    }
    .footer-container .copyright{
        padding-top: 20px;
    }