@charset "UTF-8";

*{
   margin: 0;
   padding: 0;   
}

#love {    
    box-sizing: border-box;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color:#e7ddda;
    
}

#love>#love_title {        
    background-color: #eb7c15;
    color: white;    
    text-align: center;
    height:135px;
    
}
#love_title>h2{
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
#love_title>p{
    margin : 10px;
    font-size: 12px;
    font-weight: bold;
    
}

#line1 {    
    margin-top: 35px;
    margin-bottom: 30px;
   
   height: 4px;
   width: -webkit-fill-available;
   background: #eb7c15;   
}

#love_frm2>.info1{	
	display: inline-block;
	text-align: left;
	width: 150px;		
    font-size: 18px;
    margin-bottom: 20px;
}

#love_frm1 {
     position: relative;
    left: 16.5%;
}

#love_select{
    font-size: 24px;
    padding-right: 20px;
       
}

#love_frm1>.price {
    margin: 5px;
}

#line2 {
    margin-top: 35px;
    margin-bottom: 30px;
    margin-inline : auto;
   height: 2px;
   width: 400px;
    background: black;

}

#love_frm2{
    position: relative;
    left: 16.5%;
    
}

#love_frm2>#info {
    font-size: 24px;
    margin-bottom: 30px;
}

#love_frm2> #name, #phone {
    font-size: 18px;
    margin-bottom: 20px;
}

#pay{
    position: relative;
    left: 16.5%;
}

#pay>#payment {
    font-size: 24px;    
}
#love_btn {
    position: relative;
    left: 30%;
    margin-top: 50px;
    padding: 15px;
    width: 250px;

}