@charset "utf-8";

/* * {
    border: 1px solid black;
} */


body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

#myf_detail {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 100%;
}

#myf_detail .title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0px 50px 0px;
    padding: 0px 15px 15px 15px;
    border-bottom: 10px solid aqua;
}

#myf_detail .detail table {
    position: relative;
    width: 100%;
    border-spacing: 5px;
    table-layout: fixed;
    font-size: 18px;
}

#myf_detail .detail table .box1 {
    background-color: aqua;
    height: 50px;
    font-weight: bold;
}

#myf_detail .detail table .box2 {
    padding-left: 10px;
    text-align: left;
    background-color: lightcyan;
}

#myf_detail .detail table .contentTxt {
    padding : 0px 0px 30px 0px;
}

#myf_detail .detail table .commentInput {
    margin: 20px 0px 10px 0px;
    width: 100%;
    height: 80px;
}

#myf_detail .detail table .content_ {
    padding: 20px;
    background-color: lightcyan;
}

#myf_detail .detail table input[type="text"] {
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 30px;
    padding: 0px 10px 0px 10px;
    background-color: snow;
    border-radius: 5px;
    border: 1px solid lavender;
}

#myf_detail .detail table textarea {
    display: block;
    box-sizing: border-box;
    resize: none;
    width: calc(100% - 30px);
    height: 300px;
    margin: 20px 0px 20px 10px;
    border: 1px solid lavender;
    background-color: snow;
    border-radius: 10px;
    padding : 20px;
}
#myf_detail .detail table .titleInput {
	height: 35px;
	width: calc(100% - 15px);
	margin: 10px 10px 10px 0px;
	overflow: hidden;
	padding: 10px;
}
#myf_detail .detail table textarea:focus {
	outline-color: aqua;
}

#myf_detail .detail table input[type="text"]:focus {
    outline-color: aqua;
}

#myf_detail .detail table input[type="file"]:focus {
    outline: none;
}

#myf_detail .btns {
    width: 100%;
    margin-bottom: 30px;
}

#myf_detail .detailBtn {
    display: inline-block;
    outline: none;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border : 0px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
    background-color: lavender;
    transition: background-color 500ms, color 500ms;
}

#myf_detail .detailBtn:hover {
    background-color: aqua;
}

#myf_detail .detailBtn:active {
    background-color: deepskyblue;
}

#myf_detail .detail table .comment {
    text-align: right;
}

#myf_detail .detail table .comment .commentW {
    border-top: 2px solid aqua;
    margin-top: 10px;
    padding-top: 20px;
    font-weight: bolder;
}

#myf_detail .detail table .comment .commentP {
	font-weight: normal;
}

#myf_detail .detail table .comment p {
    text-align: left;
    margin-bottom: 0px;
    font-size: 15px;
}

#myf_detail .detail table .comment button {
    display: inline-block;
    margin: 0px 0px 10px 0px;
    width: 60px;
    height: 40px;
    font-size: 16px;
    right: 0px;
}

#myf_detail .detail table .prevNext {
    font-weight: bold;
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    width: 100%;
	height: 50px;
    border-radius: 0px;
    border: none;
    margin: 0;
    /* background-color: Transparent; */
}